.stories {
  display: flex;
  gap: 1rem;
  width: 100%;

  .item {
    position: relative;
    flex: 1;

    border: 10px transparent solid;
    border-radius: 10px;
    overflow: hidden;

    height: 250px;

    img {
      border-radius: 10px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    span {
      position: absolute;
      bottom: 10px;
      left: 10px;

      color: white;
      font-weight: 300;
      font-size: 1.2rem;
    }

    .add {
      position: absolute;
      bottom: 40px;
      left: 10px;
      font-size: 2rem;
      font-weight: bold;
      color: white;
      background-color: rgb(36, 163, 222);
      padding: 0.2rem 0.6rem;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
